
@media screen and (orientation: landscape) {
  .welcome {
      padding-top: 5%;
      padding-left: 3%;
      padding-bottom: 2%;
      color: rgb(0, 43, 185);
      font-weight: bold;
      font-size: 5vh;
      text-align: center;
      font-style: italic;
      background-color: rgba(255, 255, 255, 0.7);
  }

  .welcome2 {
      padding-top: 4.5%;
      padding-left: 2%;
      padding-bottom: 2%;
      color: rgb(38, 68, 160);
      font-weight: bold;
      font-size: 4.5vh;
      text-align: center;
      font-style: italic;
      background-color: rgba(255, 255, 255, 0.6);
  }

  .music-controller {
      position: fixed;
      top: 6%;
      right: 2%;
      z-index: 1000;
  }

  .play-btn {
      min-width: 10%;
      min-height: 2.5vh;
      line-height: 3vh;
      font-size: 2vh;
  }

  .logo-container {
      position: inherit;
      top: 2%;
      left: 2%;
      z-index: 1000;
  }

  .logo {
      width: 18%; /* Adjust the width as per your requirement */
      height: auto; /* Maintain aspect ratio */
  }

  .content-column {
      position: absolute; 
      top: 90%; /* Adjust the top position as needed */
      bottom: 0;
      left: .1%; 
      width: 20%; /* Adjust the width as needed */
      background-color: rgba(255, 255, 255, 0.6);
      padding: 2%;
      overflow-y: auto;
      color: rgb(38, 68, 160);
      font-size: 2.5vh;
      font-style: italic;
      font-weight: bold;
      max-height: max-content;
      max-width: 18%;
  }

  .sections {
      color: #0819b6;
      text-decoration: none;
  }

  .sections:hover {
      color: #ff7300;
  }

  h3 {
      font-size: 3vh;
      font-weight: bolder;
      text-align: center;
      font-style: italic, sans-serif;
      border-bottom: 5px dashed #0819b6;
  }

  .Amazon-container {
      position: absolute;
      top: 42%;
      left: 3%;
      z-index: 1000;
  }

  .Amazon {
      width: 23%; /* Adjust the width as per your requirement */
      height: auto;
      transform: scaleX(-1);
  }

  .RepairKit-container {
      position: absolute;
      top: 17%;
      right: 5%;
      z-index: 1000;
  }

  .Repairtoolkit {
      width: 50%;
      height: 50%;
  }

  .wiki-link {
      color: #0819b6;
      font-size: 3vh;
  }
}
@media screen and (orientation: portrait) {
  
  .welcome {
      padding-top: 4%;
      padding-left: 3%;
      padding-bottom: 2%;
      color: rgb(0, 43, 185);
      font-weight: bold;
      font-size: 4vh;
      text-align: center;
      font-style: italic;
      background-color: rgba(255, 255, 255, 0.7);
      width: 140%;
  }
  .welcome2 {
      padding-top: 4.5%;
      padding-left: 2%;
      padding-bottom: 2%;
      color: rgb(38, 68, 160);
      font-weight: bold;
      font-size: 3.5vh;
      text-align: center;
      font-style: italic;
      background-color: rgba(255, 255, 255, 0.6);
      width: 140%;
  }
  
  .music-controller {
      position: absolute;
      top: 2%;
      right: 2%;
      z-index: 1000;
  }
  
  .play-btn {
      min-width: 7%;
      min-height: 2.5vh;
      line-height: 3vh;
      font-size: 2vh;
  }
  
  .logo-container {
      position: inherit;
      top: 2%;
      left: 2%;
      z-index: 1000;
  }
  
  .logo {
      width: 18%; /* Adjust the width as per your requirement */
      height: auto; /* Maintain aspect ratio */
  }
  
  .content-column {
      position: absolute;
      top: 40%; /* Adjust the top position as needed */
      bottom: 0;
      left: 1px; 
      width: 30%; /* Adjust the width as needed */
      background-color: rgba(255, 255, 255, 0.6);
      padding: 2%;
      overflow-y: auto;
      color: rgb(38, 68, 160);
      font-size: 1.5vh;
      font-style: italic;
      font-weight: bold;
      max-width: fit-content;
      max-height: fit-content;
  }
  
  .sections {
      color: #0819b6;
      text-decoration: none;
  }
  
  .sections:hover {
      color: #ff7300;
  }
  
  h3 {
      font-size: 2vh;
      font-weight: bolder;
      text-align: center;
      font-style: italic, sans-serif;
      border-bottom: 5px dashed #0819b6;
  }
  
  .Amazon-container {
      position: absolute;
      top: 22%;
      left: 0;
      z-index: 1000;
  }
  
  .Amazon {
      width: 13%; /* Adjust the width as per your requirement */
      height: auto;
      transform: scaleX(-1);
  }
  
  .RepairKit-container {
      position: left; /*done to hide on mobile*/
      top: 14%;
      right: 7%;
      z-index: 1000;
  }
  
  .Repairtoolkit {
      width: 100px;
      height: auto;
  }
  
  .wiki-link {
      color: #0819b6;
      font-size: 1.5vh;
  }
}